.select{
    width:30% !important
}

.card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}
.card > *{
    display: flex;
    justify-content: space-around;
}